{{define "editor-management"}}
<div class="wrapper">

  <aside style="padding-top:0px;" class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/views/images/user-default-160x160.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{.user.Username}}</p>
          <p></a><i class="fa fa-circle text-success"></i> Online</p>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li><a href="/home"><i class="fa fa-dashboard"></i> <span>Thống kê chung</span></a></li>
        {{if eq .user.Type 0}}
        <li><a href="/create-post"><i class="fa fa-file"></i> <span>Tạo bài viết</span></a></li>
        {{end}}
        <li><a href="/get-post-admin-permission3"><i class="fa fa-bars"></i> <span>Quản lý bài viết</span></a></li>
        <li><a href="/editor-management2"><i class="fa fa-users"></i> <span>Quản lý biên tập viên</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  <!-- =============================================== -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Quản lý biên tập viên
      </h1>
      <ol class="breadcrumb">
        <li><a href="/home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/editor-management">Quản lý biên tập viên</a></li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div>
          <button class="btn btn-primary" id="btn-add-editor">Thêm biên tập viên</button>
      </div>
      <hr>
      <div>
          <table id="editorsTable" class="display">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>Username</th>
                      <th>Họ và tên</th>
                      <th>Giới tính</th>
                      <th>Ngày sinh</th>
                      <th>Số điện thoại</th>
                      <th>Trạng thái</th>
                      <th>Thao tác</th>
                  </tr>
              </thead>
              <tbody>
                {{range .editors}}
                  <tr>
                      <td>{{.ID}}</td>
                      <td>{{.Username}}</td>
                      <td>{{.Name}}</td>
                      <td>{{.Gender}}</td>
                      <td>{{.BirthDay}}</td>
                      <td>{{.PhoneNumber}}</td>
                      {{if eq .Status 0}}
                        <td>Chưa kích hoạt</td>
                      {{else}}
                        <td>Đã kích hoạt</td>
                      {{end}}
                      <td>
                        {{if eq .Status 0}}
                          <button class="btn-confirm-active" id="active-{{.ID}}">Kích hoạt</button>
                        {{else}}
                          <button class="btn-confirm-deactive" id="deactive-{{.ID}}">Bỏ kích hoạt</button>
                        {{end}}
                          <button class="btn-confirm-delete" id="delete-{{.ID}}">Xóa</button>
                      </td>
                  </tr>
                {{end}}
              </tbody>
            </table>
      </div>
      <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="active-modal">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="labelActiveModal">Kích hoại tài khoản này!</h4>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modal-btn-back-active">Trở lại</button>
                <button type="button" class="btn btn-primary" id="modal-btn-ok-active">OK</button>
              </div>
            </div>
          </div>
      </div>
      <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="deactive-modal">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="labelDeactiveModal">Bỏ kích hoạt tài khoản này</h4>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modal-btn-back-deactive">Trở lại</button>
                <button type="button" class="btn btn-primary" id="modal-btn-ok-deactive">OK</button>
              </div>
            </div>
          </div>
      </div>
      <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="delete-modal">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="labelDeleteModal">Xóa tài khoản này! </h4>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modal-btn-back-delete">Trở lại</button>
                <button type="button" class="btn btn-primary" id="modal-btn-ok-delete">OK</button>
              </div>
            </div>
          </div>
      </div>
      <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="notification-modal">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="labelNotiModel"></h4>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" id="modal-btn-ok-noti">OK</button>
              </div>
            </div>
          </div>
      </div>
      <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBigModalLabel" aria-hidden="true" id="create-editor-modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="labelActiveModal">Thêm biên tập viên</h4>
              </div>
              <div class="modal-body">
                  <form id="register-form">
                      <div class="form-group">
                          <label>Tên đăng nhập</label>
                          <span id="messageUsername" style="color:red"></span>
                          <input type="text" name="username" id="usernameRegister" tabindex="1" class="form-control" placeholder="Username" value="" required />
                        </div>
                        <div class="form-group">
                          <label>Email</label>
                          <span id="messageEmail" style="color:red"></span>
                          <input type="email" name="email" id="emailRegister" tabindex="1" class="form-control" placeholder="Email Address" value="" required />
                        </div>
                        <div class="form-group">
                          <label>Mật khẩu</label>
                          <input type="password" name="password" id="passwordRegister" tabindex="2" class="form-control" placeholder="Password" required/>
                        </div>
                        <div class="form-group">
                          <label>Nhập lại mật khẩu</label>
                          <span id="messageConfirmPass" style="color:red"></span>
                          <input type="password" name="confirm-password" id="confirmPasswordRegister" tabindex="2" class="form-control" placeholder="Confirm Password" required />
                        </div>
                      <div class="form-group">
                        <label>Họ và tên</label>
                        <input type="text" name="name" id="nameRegister" class="form-control" placeholder="Name" required />
                      </div>
                      <div class="form-group">
                          <label>Giới tính</label>
                          <select name="gender" id="genderRegister" class="form-control">
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                            <option value="Khác">Khác</option>
                          </select>
                      </div>
                      <div class="form-group">
                          <label>Ngày sinh</label>
                          <input  type="text" name="birthday" id="birthdayRegister" class="form-control" placeholder="dd-mm-yyyy">
                      </div>
                      <div class="form-group">
                        <label>Số điện thoại</label>
                        <input class="form-control" name="phone_number" id="phoneNumberRegister" placeholder="Số điện thoại" />
                      </div>
                      <div class="form-group">
                          <label>Trạng thái</label>
                          <select name="status" id="statusRegister" class="form-control">
                              <option value="0">Chưa kích hoạt</option>
                              <option value="1">Đã kích hoạt</option>
                            </select>
                        </div>
                    </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modal-btn-back-create">Trở lại</button>
                <button type="button" class="btn btn-primary" id="modal-btn-ok-create">Thêm</button>
              </div>
            </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2019 <a href="https://adminlte.io">CMS</a>.</strong> All rights
    reserved.
  </footer>

</div>
{{end}}
