<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<body class="hold-transition skin-blue sidebar-mini">
    {{template "header" .}}
    {{if eq .index -1}}
    <!-- home-->
    {{template "home" .}}
    {{else if eq .index 0}}
    <!-- create post-->
    {{template "create-post" .}}
    {{else if eq .index 1}}
    <!-- editor management-->
    {{template "editor-management" .}}
    {{else if eq .index 2}}
    <!-- post management-->
    {{template "post-management" .}}
    {{else if eq .index 3}}
    <!-- update post-->
    {{template "update-post" .}}
    {{end}}
    <!--JS-->
    {{template "footer-lib" .}}
</body>
</html>